/* font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

/* shared */
.header-font{
    font-weight: 800;
    font-size: 32px;
}

/* banner starts*/
.banner-container {
    max-width: 1440px;
    height: 652px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-image: url('../assets/Hero-bg.png');
    border: 2px solid white;
}

.banner-container-inner {
    width: 998px;
    height: 582px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* banner pic */
.banner-pic {
    height: 272;
    width: 100%;
}

.banner-pic img {
    text-align: center;
    margin-left: 380px;
}

/* banner text */
.banner-text {
    height: 96px;
    width: 100%;
}

.banner-text h1 {
    font-size: 48px;
    text-align: center;
}

.banner-text p {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

/* banner button */
.banner-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 100%;
    margin-bottom: 200px;
}

.banner-button button {
    background-color: black;
    color: white;
    width: 208px;
    height: 66px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 150px;
}

/* banner ends */
/* why we dev starts */
.webdev-cntainer {
    margin-top: 30px;
    max-height: 1395px;
    width: 1140px;
    background-color: rgb(250, 250, 251);
    margin-left: auto;
    margin-right: auto;
}

.webdev-container-ineer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 946px;
    height: 1235px;
}

.webdev-header {
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.webdev-header h1{
    text-align: center;
    margin-bottom: 15px;
}
.webdev-header p{
    text-align: center;
}

/* webdev first */
.webdev-first-container {
    margin-top: 48px;
    width: 946px;
    height: 336px;
}

.webdev-first-container-inner {
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    background: linear-gradient(to right, white, rgb(250, 250, 251));
}

.webdev-first-text {
    width: 477px;
    height: 220px;
    margin-top: 20px;
}

.webdev-first-img {
    width: 477px;
    height: 220px;
    margin-top: 8px;
    text-align: right;
}

/* webdev second */
.webdev-second-container {
    margin-top: 48px;
    width: 946px;
    height: 336px;
}

.webdev-second-container-inner {
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    background: linear-gradient(to left, white, rgb(250, 250, 251));
}

.webdev-second-text {
    width: 550px;
    height: 220px;
    margin-top: 20px;
}

.webdev-second-img {
    width: 280px;
    height: 220px;
    margin-top: 8px;
}
.webdev-second-img img{
    text-align: left;
}

/* webdev third */
.webdev-third-container {
    margin-top: 48px;
    width: 946px;
    height: 336px;
}

.webdev-third-container-inner {
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    background: linear-gradient(to right, white, rgb(250, 250, 251));
}

.webdev-third-text {
    width: 477px;
    height: 220px;
    margin-top: 20px;
}

.webdev-third-img {
    width: 477px;
    height: 220px;
    margin-top: 8px;
    text-align: right;
}
